.section {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #232323;
    min-width: 450px;
    justify-content: center;
}

.section__header {
    font-weight: bold;
    color: #787d94;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    min-width: 300px;
}

.section__header hr {
    width: 200px;
    height:2px;
    border: 0;
    background: #787d94;
}

.section__splash {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../img/bioBg.png');
    background-position: center;
    background-size: 1920px 100%;
    color: #77df00;
    height: 400px;
}

.section__splash h2 {
    margin-top: -10px;
    color: #b4a080;
}

.section__welcome p {
    max-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
}

.section__about {
    align-items: flex-start;
}

.section__about p {
    padding-left: 10px;
    font-size: 15px;
    max-width: 460px;
    box-sizing: border-box;
    width: 70%;
}

.section__about img {
    box-sizing: border-box;
    padding: 10px;
    width: 240px;
    border-radius: 25px;
}

.section__projects {
    justify-content: center;
    background-color: #eaeaea;
}

.section__projects__description {
    display: none;
}

.section__projects__description a {
    color: #134f77;
}

.section__projects__description--show {
    display: block;
    padding: 10px;
}

.section__projects__projectBlock img {
    border-radius: 25px;
    border: 2px solid #787d94;
}

.section__projects__pan {
    max-width: 740px;
}

.section__projects__blocks-holder {
    background: linear-gradient(to right, #eaeaea 5%, #2b70a12c 50%, #eaeaea 95%);
}

.section__projects__projectBlock {
    padding: 0px 10px 10px 10px;
    display: none;
}

.section__projects__projectBlock--show {
    display: block;
}

.section__projects__projectBlock h4{
    text-align: center;
    margin: 6px;
}

.section__contact__info {
    font-size: 12px;
    padding: 20px;
}

.section__contact__info a {
    color: #232323;
    font-size: 12px;
    padding: 20px;
    text-align: center;
}

.section__social {
    display: inline-block;
    text-align: center;
}

.section__social img {
    padding: 20px;
    width: 40px;
}

@media (max-width: 800px) {
    .section__about p {
        font-size: 15px;
        max-width: 700px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section__about img {
        box-sizing: border-box;
        padding: 10px;
        width: 240px;
    }
}

@media (min-width: 1700px) {
    .section__splash {
        background-size: 100% 100%;

    }
}